pkgbase = tunnex-cli-bin
	pkgdesc = Tunnex Zero Trust command-line client
	pkgver = 0.1.39
	pkgrel = 1
	url = https://tunnex.io
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	optdepends = wireguard-tools: tunnel up/down commands
	provides = tunnex-cli
	conflicts = tunnex-cli
	source_x86_64 = tunnex-0.1.39-x86_64::https://github.com/tunnexio/tunnex/releases/download/v0.1.39/tnx-linux-amd64
	sha256sums_x86_64 = 2a938ddc4f73082a43dac73d14e4706b32fff7f2eded0908b33e6c3938b87915
	source_aarch64 = tunnex-0.1.39-aarch64::https://github.com/tunnexio/tunnex/releases/download/v0.1.39/tnx-linux-arm64
	sha256sums_aarch64 = d34a6769149a1efd477da6bda9668795d28282e40c87511bf540973d17fc6348

pkgname = tunnex-cli-bin
